body { 
    margin: 0;
    font-family: 'Segoe UI', 'Lucida Sans', Arial, sans-serif;
    background-color: gray;	

    background-image: url('img/wheelie_fp.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: soft-light;
    background-position: left center;

 }
header {
    margin-bottom: 60px;
    padding: 8px;

    width: 100%;

    background-image: url('img/WG_Logo.svg');
    background-size: 160px;
    background-position:center;
    background-repeat: no-repeat;
    min-height: 10%;

}
header h1 {
	padding-left: 5px;
	color: black;
}
/* Default styles for larger screens */
nav {
    display: flex;
    padding-bottom: 10px;
    padding-left: 19%;
}

nav a {
    display: inline-block;
    margin-top: 45px;
    margin-left: 20%;
    font-weight: bold;
    background-color: transparent;
    border: none;
    text-decoration: none;
    color: black;
    font-size: 24px;
    padding: 8px 16px;
    position: relative;
    overflow: hidden;
    transition: color 0.4s, transform 0.4s;
    border-bottom: 3px solid beige;
    border-radius: 8px; /* Adicionando a linha bege na parte inferior */
}

nav a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #c6c6b4;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s cubic-bezier(0.25, 1, 0.5, 1);
}

nav a:hover {
    background-color: #c6c6b4;
    border-color: #c6c6b4;
    border-radius: 5px;
    transform: translateY(-3px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    border-bottom: 3px solid black;
    border-radius: 8px; 
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: center;
        padding-left: 0;
    }

    nav a {
        margin: 10px 0;
        text-align: center;
    }
}
.firstpage {
    padding-top: 2px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;

    margin-bottom: 80px;

}
#topics { 
    padding-top: 2px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;

}
.topic {
    box-sizing: border-box;
    width: 30%;
    
    padding: 15px 15px;
}
  
  .overlay {
    position: relative;
    display: inline-block;
    overflow: hidden;
  }
  
  .overlay img {
    display: block;
    width: 100%;
    height: auto;
    transition: 0.5s ease;
  }
  
  .overlay:hover img {
    filter: brightness(20%);
  }
  
  .overlay h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    text-align: center;
    margin: 0;
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  
  .overlay:hover h3 {
    opacity: 1;
  }
  .topic h3{
    text-align: center;
    color:white;
}
#topics img {
     border-radius: 15px;
     max-width: 100%;
    }

footer {
    background-color: black;
	color: white;
	display: flex;
	padding: 70px;
    text-align: center;
}
.icons {
    margin-left: auto;
    margin-right: auto;
    font-size: 50px;

}
footer i{
    display: inline-block;
    color:beige;
    width: 200px;
}
